.section.first-slide {
  background: linear-gradient(249.75deg, #0FCDF5 -11.27%, #3A8BD5 100%);
  padding-top: 42px;
  padding-bottom: 91px;
}

.main-img {
  position: absolute;
  width: 534px;
  height: 508px;
  right: 0;
  top: -63px;
}
