.section-example-advancing {
  background: #F8F7F7;

  .nav {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex-direction: column;
  }

  .tab-pane {
    max-width: 684px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }
}

.section-example-advancing__title {
  text-transform: uppercase;
  max-width: 778px;
  display: block;
  font-weight: 900;
  margin-bottom: 35px;
}

.section-example-advancing__tab-num {
  font-family: 'Montserrat', sans-serif;
  align-self: flex-start;
}

.section-example-advancing__tab {
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-left: 21px;
  padding-right: 11px;
  padding-top: 15px;

  &.active {
    background-color: initial !important;

    .section-example-advancing__tab-num {
      color: rgba(60, 185, 255, .6);

    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background: url("../img/active-indicator.svg") no-repeat center;
      background-size: 100% auto;
      width: 9px;
      height: 89px;
      z-index: 1;
      display: block;
    }
  }
}

.section-example-advancing__tab-num {
  font-weight: 900;
  font-size: 36px;
  line-height: 28px;
  color: rgba(237, 236, 236, .6);
  margin-left: auto;
}

.section-example-advancing__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.section-example-advancing__block {
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-top: 20px;
}

.section-example-advancing__block-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.section-example-advancing__block-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #333333;
}

.section-example-advancing__subtitle {
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  color: #333333;
  display: block;
  margin-bottom: 25px;
}

.section-example-advancing__text {
  text-transform: uppercase;
  font-weight: 900;
  color: #333333;
  display: block;
  margin-bottom: 27px;
}

.section-example-advancing__block-text {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0;
  color: #777777;
}

.section-example-advancing__img {
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  padding: 30px 15px 36px 23px;

  .ct-chart {
    height: 216px;
  }
}

.section-example-advancing__table {
  border-radius: 10px;
  overflow: hidden;
  
  th {
    &:nth-child(3) {
      width: 100px;
    }

    &:nth-child(1) {
      width: 60px;
    }
  }

  tr {
    td {
      font-size: 16px;
      line-height: 19px;
      color: #555555;
    }

    td:nth-child(3) {
      font-weight: 900;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #4285F4;
    }
  }

  thead {
    background: linear-gradient(249.75deg, #0FCDF5 -11.27%, #3A8BD5 100%);
    color: #FFFFFF;

    th {
      border-bottom: none;
    }
  }

  tbody {
    tr:nth-child(even) {
      background: #F8F8F8;
    }
  }
}

.section-example-advancing__tab-wrap {
  width: 100%;
}

.section-example-advancing__tab-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.section-example-advancing__list {
  padding-left: 24px;
  list-style-type: none;
  margin-bottom: 0;
}

.section-example-advancing__item {
  display: flex;
  align-items: center;

  i {
    width: 12px;
    height: 12px;
    margin-right: 11px;
    border-radius: 50%;
  }

  span {
    font-size: 12px;
    line-height: 28px;
    color: #555555;
  }
}

.ct-perfect-fourth>svg {
  position: relative;
  width: 100% !important;
}

.ct-line {
  stroke-width: 2px;
}

.ct-point {
  stroke-width: 5px;
}

@media (max-width: 991.98px) {
  .section-example-advancing__img {
    padding: 20px 10px 10px;
  }

  .section-example-advancing__list {
    padding-left: 15px;
  }
}

@media (max-width: 767.98px) {
  .section-example-advancing__tab {
    width: 22%;
    border-radius: 50% !important;
    overflow: hidden;
    padding: 0;
    background-color: #FFFFFF !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: auto;

    &.active {
      border: 2px solid #1CBAED;
    }

    &.active {
      background-color: #FFFFFF !important;
    }
  }

  .section-example-advancing__tab-wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }

  .section-example-advancing__tab-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .section-example-advancing .nav {
    background: initial;
    box-shadow: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    img {
      max-width: 80%;
    }
  }
  
  .section-example-advancing__tab-num {
    display: none;
  }

  .section-example-advancing__tab.active:before {
    display: none;
  }

  .section-example-advancing__subtitle {
    text-align: center;
    font-size: 24px;
  }

  .section-example-advancing__text {
    font-size: 18px;
    text-align: center;
  }

  .section-example-advancing__block {
    background: initial;
    box-shadow: none;
  }

  .section-example-advancing__block-header {
    justify-content: center;
  }

  .section-example-advancing__table {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  }

  .ct-perfect-fourth {
    width: auto;
  }
}

@media (max-width: 425px) {
  .section-example-advancing__list {
    padding-left: 5px;
  }
}
